page-profile {
  #userName {
    text-align: center;
    font-size: 3rem;
  }

  #userImage {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
    object-fit: cover;
    min-height: 150px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .login-button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
