page-home {
  #map {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .leaflet-popup-content {
    // text-align: center;
  }
  .leaflet-popup-content-wrapper {
    border-radius: 0px;
  }
}
