page-history {
  .slide {
    text-align: center;
    position: relative;
    &-image {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: auto;
      z-index: 0;
    }
    &-info {
      position: relative;
      z-index: 5;
      background-color: rgba(0, 0, 0, .35);
      color: white;
      padding: 40px 10px;
    }
    &-title {

    }
    &-subtitle {

    }
    &-more {

    }
  }
}
